<!DOCTYPE html>
<html lang="en">
<!-- include header -->
<%- include('header') %>
    <!-- /include header -->
    <style>
        #field {
            height: 250px;
            width: 250px;
            background: #FFDC00;
            float: left;
            margin-left: 4px;
            border: 1px solid #ccc;
        }

        #field1 {
            height: 250px;
            width: 250px;
            background: #FF4136;
            float: left;
            margin-left: 4px;
            border: 1px solid #ccc;
        }

        .d {
            padding-left: 30%;
        }

        #e {
            background-color: greenyellow;
            color: white;
            border: none;
            align-content: center;
            margin-top: 5%;
            border-radius: 5px;
            padding-left: 2%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-right: 2%;
        }

        .b {
            background-color: black;
            text-align: center;
            color: white;
            font-size: 25px;
            height: 50px;
        }

        .foot {
            position: fixed;
            bottom: 0;
            background-color: #474747;
            text-align: center;
            color: white;
            width: 100%;
            font-size: 25px;
            height: 50px;
        }

        article {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -220px;
            margin-top: -120px;
        }
        .form-group-1{
            color: green;
        }
        .form-group{
            color: green;
        }
    </style>

    <body>

        <header>
            <div class="b">Treasure Finder Game</div>
        </header>
        <main>
            <article>
                <div>
                    <div id="container">
                        <div id="bgrone">

                            <a id="field">
                                <span id="ready"></span>
                                <span id="ready1"></span>
                                <span id="lname" value="<%= v.name %>">
                                    <%= v.name %>

                                </span>
                                <span id="llat" value="<%= v.latitude %>" style="visibility: hidden;"></span>
                                <span id="llong" value="<%= v.longitude %>" style="visibility: hidden;"></span></a>
                        </div>
                        <div id="field1">
                            <div id="bgrtwo">
                                <br />
                                <br />
                                <div id="location"></div>
                                <br />
                                <div id="error-message"></div>
                                <div id="device-lat"></div>
                                <div id="device-long"></div>
                                <div id="error"></div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
                </div>
                <br>


                <div class="form-group">
                    <form action="https://fsa-group-7.herokuapp.com/locations/create">
                        <input type="submit" value="Add Location" id="e" />
                    </form>
                </div>
                <div class="form-group-1">
                    <form action="https://fsa-group-7.herokuapp.com/locations/">
                        <input type="submit" value="Display Location" id="e" />
                    </form>
                </div>
                </div>
                </div>
                <br>
                <br><br><br>
            </article>
        </main>
        <!-- <script type="module" src="./scripts/main.js "></script> -->
        <link href="../public/Styles/main.css" rel="stylesheet" type="text/css">
        <!-- <script type="module" src="./scripts/main.js"></script> -->
        <script type="module" src="/scripts/main.js"></script>
    </body>
    <br>
    <footer class="foot">

        <a href="https://github.com/Puneeth159/fsa-group-7">
            <i class="gtb gthb-github "></i> GitHub</a>
    </footer>

</html>