<!DOCTYPE html>
<html lang="en">
<!-- include header -->
<%- include('header') %>
    <!-- /include header -->
    <style>
        #field {
            height: 250px;
            width: 250px;
            background: #FFDC00;
            float: left;
            margin-left: 4px;
            border: 1px solid #ccc;
        }

        #field1 {
            height: 250px;
            width: 250px;
            background: #FF4136;
            float: left;
            margin-left: 4px;
            border: 1px solid #ccc;
        }

        .d {
            padding-left: 30%;
        }

        #e {
            background-color: greenyellow;
            color: white;
            border: none;
            align-content: center;
            margin-top: 0%;
            border-radius: 5px;
            padding-left: 2%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-right: 2%;
        }

        .b {
            background-color: black;
            text-align: center;
            color: white;
            font-size: 25px;
            height: 50px;
        }

        .ft {
            position: fixed;
            bottom: 0;
            background-color: #474747;
            text-align: center;
            color: white;
            width: 100%;
            font-size: 25px;
            height: 50px;
        }

        article {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -220px;
            margin-top: -120px;
        }
        .form-group-1{
            color: green;
        }
        .form-group{
            color: green;
        }
    </style>

    <body>

        <header>
            <div class="b">Treasure Finder Game</div>
        </header>
        <main>
            <article>
                <div>
                    <div id="container">
                        <div id="field" >
                            <div id="bgrone">
                                 <br>
                                <div id="ready1"></div>

                         
                        

                            
                              <span id="lname" style="color: black ; visibility: hidden" value="<%= v.locationName %>" > <%= v.locationName %></span>
                                <span id="llat" value="<%= v.latitude %>" style="visibility: hidden;"></span>
                                <span id="llong" value="<%= v.longitude %>" style="visibility: hidden;"></span>
                                
                            </div>
                        </div>
                        
                        
                        <div id="field1">
                            <div id="targetloc"></div>
                            
                                <div id="lbl"></div>
                                <br>
                                
                                <div id="ready"></div>
                                <br>
                                <div id="device-lat1" style="color: white;"></div>
                                <br>
                                <div id="device-long1" style="color: white;"></div>
                                <br>
                                
                                <div id="error" style="color: white;"></div>

                        </div>
                      
                    </div>
                    <!-- <div class = "d">
                        <button type="button" class="btn btn-black" onclick="productUpdate();">Add locations</button>
                    </div> -->
                    
                    <div class="p">
                        <div class="form-group">
                            <form action="https://fsa-group-7.herokuapp.com/locations/create">
                                <input type="submit" value="Add Location" id="e" />
                            </form>
                        </div>
                        <div class="form-group1">
                            <form action="https://fsa-group-7.herokuapp.com/locations">
                                <input type="submit" value="Display Locations" id="e" />
                            </form>
                        </div>
                   
            </article>
        </main>
        <!-- <script type="module" src="./scripts/main.js "></script> -->
        <link href="../public/Styles/main.css" rel="stylesheet" type="text/css">
        <!-- <script type="module" src="./scripts/main.js"></script> -->
        <script type="module" src="/scripts/main.js"></script>
    </body>
    <br>
    <footer class="ft">

        <a href="https://github.com/Puneeth159/fsa-group-7">
            <i class="gtb gthb-github "></i> GitHub</a>
    </footer>

</html>
