<!DOCTYPE html>
<html lang="en">
    

    <%- include('header') %>


    <body class="page-container">




        </div>
        </nav>
        <main>


            <br>
            <div class="container ">
                <br>
                <br>
                <br>
                <div class="row " id="layout ">
                    <div id="bgrone" class="col-6">
                        <br>
                        <br>
                        <br>
                        <br>
                        <!-- <div id="button1">
                            <span id="lbl" met></span>
                        </div> -->
                        <div id="ready"></div>
                        <div id="ready1"></div>
                        <div id="button1" style="font-weight: bold;">
                            <!-- The treasure location is ready..! <br> Start playing the game. -->
                            <br> Quest Location Name: <br>
                            <a id="lbl" href="https://group-1-treasure.herokuapp.com/random">
                            <span id="lname" value="<%= value.name %>"> <%= value.name %></span>
                            <span id="llat" value="<%= value.latitude %>" style="visibility: hidden;"></span>
                            <span id="llong" value="<%= value.longitude %>" style="visibility: hidden;"></span>

                        </a>
                        </div>
                    </div>
                    <!-- <div class="col-md-2 ">
                </div> -->
                    <!-- <div id="status"> -->
                    <div id="bgrtwo" class="col-6">
                        <div id="button2 ">

                            <!--<span id="lbl2 "></span>-->
                            <br>
                            <br>
                            <div id="location ">Welcome to <span id="target">?</span></div>
                            <div id="error"></div>
                            <br>
                            <div id="status1">CurrentLocation</div>




                            <div id="location">
                                Device Latitude:
                                <br>
                                <div id="device-lat"> </div>
                                <br> Device Longitude:
                                <div id="device-long"></div>
                                <div id="target"></div>
                                <div id="target1"></div>

                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-3" style="text-align: center;">
                    <div class="form-group" style="padding-left: 45%;">
                        <form action="https://group-1-treasure.herokuapp.com/location/create">
                            <input type="submit" value="Add Locations" />
                        </form>
                    </div>
                </div>

                <div class="col-3" style="text-align: left;">
                    <div class="form-group" style="padding-left: 44.5%;">
                        <form action="https://group-1-treasure.herokuapp.com/location/display">
                            <input type="submit" value="Display Locations" />
                        </form>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </main>

        <br>
        <br>
        <script type="module" src="/scripts/main.js"></script>
    </body>
    <%- include('footer') %>


</html>